*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(247, 252, 255);
}

body{
    background-color:rgb(255, 255, 255);
    
}

h1{
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    background-color: rgb(0, 24, 102);
    font-weight: bold;
    font-size: 48px;
    border-bottom: 3px solid black;    
}

.container{
    margin: 0px auto 0 auto;
    text-align: center;
    padding: 30px;
    
    height: 400px;
}

.button{
    display: inline-block;
    padding: 50px 30px;
    background-color: rgb(0, 24, 102);
    width: 20%;
    height: 50%;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border-radius: 20px;
    border: 3px solid black;
    margin: 15px 25px;
}

.button:hover{
    transform: scale(1.1);
}

.container p{
    margin: 60px auto 40px auto;
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}


.container span{
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    color: black;
    display: inline-block;
}

.result{
    font-size: 24px;
    color: rgb(0, 24, 102);
    margin-bottom: 30px;
    font-weight: 500;
}

#reset{
    margin: 35px auto 5px auto;
    text-align: center;
    width: 12.5%;
    font-size: 2em;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

#message{

    margin: 0 auto;
    text-decoration: none;
    color: rgb(0, 24, 102);
    margin-bottom: 30px;
    font-size: 32px;
}